<div class="audio-player">
  <input type="file" accept="audio/*" (change)="onFileSelected($event)" />
  <audio #audio></audio>
  <button type="button" (click)="play()" aria-label="Play" [disabled]="!hasAudioSource">
    <fa-icon [icon]="faPlay"></fa-icon>
  </button>
  @if (isPlaying) {
    <button type="button" (click)="pause()" aria-label="Pause">
      <fa-icon [icon]="faPause"></fa-icon>
    </button>
  }
  <button type="button" (click)="stop()" aria-label="Stop" [disabled]="!hasAudioSource">
    <fa-icon [icon]="faStop"></fa-icon>
  </button>
</div>
