<div class="settings">
  <span class="settings__label" id="styleSelectLabel">Visualization style</span>
  <div
    class="style-picker"
    role="radiogroup"
    aria-labelledby="styleSelectLabel"
  >
    @for (style of styles; track style) {
      <button
        type="button"
        role="radio"
        class="style-picker__option"
        [class.style-picker__option--active]="selectedStyle === style"
        [attr.aria-checked]="selectedStyle === style"
        (click)="onStyleChange(style)"
      >
        {{ style }}
      </button>
    }
  </div>
</div>
